:host {
  display: block;
}

mat-accordion {
  mat-expansion-panel {
    form {
      mat-form-field {
      }
    }

    mat-expansion-panel-header {
      ::ng-deep span.mat-content {
        max-height: 100%;
        align-items: center;
      }

      mat-panel-title {
        max-width: 300px;

        mat-checkbox {
          margin-top: -1px;
          margin-right: 10px;
        }
      }

      mat-panel-description {
        overflow: hidden;

        a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .margin-bottom {
      /* Mobile only */
      @media only screen and (max-width: 599px) {
        margin-bottom: 16px;
      }
    }
  }
}
